{% extends 'todo/base.html' %}
{% block content %}

<div class="container h-100">
  <div class="row py-5 d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card">
        <div class="card-body p-5">
          <h4 class="card-title">
            Todo list
          </h4>

          <!-- Add/Edit Item Form -->
          <form method="post" autocomplete="off">
            <div class="row mb-4">
                <div class="col-sm">
                  {% csrf_token %}
                  {{ form.name }}
                </div>
                {% if edit_item_id %}
                <div class="col-12 col-sm-auto d-flex justify-content-end">
                  <button type="submit" class="add btn btn-info font-weight-bold mr-1">
                    Save
                  </button>
                  <a href="/" class="add btn btn-outline-secondary font-weight-bold">
                    Cancel
                  </a>
                </div>
                {% else %}
                <div class="col-12 col-sm-auto d-flex justify-content-end">
                  <button type="submit" class="add btn btn-info font-weight-bold todo-list-add-btn">
                    Add
                  </button>
                </div>
                {% endif %}
              </div>
          </form>

          <!-- List of Items -->
          <div class="list-wrapper">
            <ul class="d-flex flex-column-reverse todo-list">
              {% for item in items %}
              {% if edit_item_id and item.id == edit_item_id %}
              <!-- Skip the item being edited -->
              {% else %}
              <li data-item_id='{{ item.id }}' data-item_done="{{ item.done }}">
                <div class="row d-flex align-items-center">
                  <div class="col form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      {{ item.name }}
                      <i class="input-helper"></i>
                    </label>
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <a href="/edit/{{ item.id }}" class="edit mdi"><i class="fa fa-edit"></i></a>
                    <a href="/delete/{{ item.id }}" class="remove mdi"><i class="fa fa-times"></i></a>
                  </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}