body {
  background-color: #e2d5de;
}

.card {
  word-wrap: break-word;
  border: 1px solid #d2d2dc;
  border-radius: 15px;
}

.btn {
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 400;
  padding: 0.7rem 1.5rem;
  border-radius: 0.1275rem;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #3da5f4;
}

.form-check .form-check-label input {
  opacity: 0;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: solid #405189;
  border-width: 2px;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  transition-duration: 0s;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before,
.form-check .form-check-label input[type="checkbox"] + .input-helper:after {
  position: absolute;
  top: 2px;
  left: 0;
}

.form-check
  .form-check-label
  input[type="checkbox"]:checked
  + .input-helper:before {
  background: #405189;
  border-width: 0;
}

.form-check-label:hover {
  cursor: pointer;
}

.list-wrapper ul li {
  font-size: 0.9375rem;
  padding: 0.6rem 0 0;
  border-bottom: 1px solid #f3f3f3;
}

.mdi {
  cursor: pointer;
  font-size: 1.3rem;
  padding-right: 3px;
}

.mdi:hover {
  text-decoration: none;
  transform: scale(1.05);
}


.edit {
  color: #464089;
}

.remove {
  padding-bottom: 2.5px;
  color: #894040;
}

.list-wrapper ul {
  padding: 0;
  text-align: left;
  list-style: none;
  margin-bottom: 0;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}
